/**
 * @author mandre29
 */


body {
	background-color: #d0d0e1;
}


h2 {
	text-align: center;
    background-color: #a2a2c3;
	font-size: 40px;
}

h4{
	text-align: left;
	font-size: 18px;
}

label{
	 margin: 2px 0;
	 font-size: 14px;
}

form {
	background-color: #eee;
	width: 50%;
	font-size: 16px;
	
}


input[type=text],input[type=email], input[type=password], input[type=number] {
    width: 30%;
    padding: 2px 2px;
    margin: 2px 0;
}

button[type=submit], button[type=reset]{
	font-size: 16px;
	
	color: black;
	top: 50%;
    left: 50%;
    border-color: #a2a2c3;
    border-radius: 25px;
}
